.inside-banner{
    margin-top: 60px;
    .container{
       
    }
    h1{
        font-size: 64px;
        span{
            color: #2171FF;
        }
    }
    img{
        margin-top: 50px;
        width: 100%;
    }
    p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
    }
}